/* declaration des fonts */
@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Fontes & styles globaux */
  font-family: "Segoe UI Emoji", "Noto Color Emoji", system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Couleurs */
  /* oranges */
  --orange: #f5c542;
  --orange-fonce: #e0b540;
  --orange-clair: #fceec8;

  /* gold */
  --gold: #c3a74d;
  --gold2: #e8ce76a7;
  --gold3: #7e6a25;

  --white: #ffffff;
  --white2: #dddbdb;

  --grey: #6c757d; 
  --grey-fonce: #6c757d; 
  --grey-clear: #ccc;

  --dark: #181101b9; /* plus sombre que bg-dark bootstrap */
  --dark2: #181101b9; /* sombre que bg-dark bootstrap */
  --muted: #b8b8b8;

  /* vert olive */
  --vert-olive:#d3ce55;

  /* Classe utilitaire pour les icônes dans les menus (DashboardSidebar.vue) */
  /* LTR (français) */
  [dir="ltr"] .icon {
    margin-right: 0.5rem;
  }

  /* =====================
   Header Responsive LTR / RTL
   ===================== */

  /* LOGO */
  [dir="ltr"] .navbar-brand {
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  [dir="rtl"] .navbar-brand {
    margin-right: 0 !important;
    margin-left: auto !important;
  }

  /* MENU PRINCIPAL */
  [dir="ltr"] .navbar-nav.me-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
  }

  [dir="rtl"] .navbar-nav.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  /* ACTIONS (compte, panier, wishlist) */
  [dir="ltr"] .navbar-nav.actions {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  [dir="rtl"] .navbar-nav.actions {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Permet un layout header → contenu → footer */
}
h1,
h2,
h3 {
  font-family: "NewspaperCutboy";
  color: var(--gold);
  width: auto;
  background-color: #fbf9da;
  padding: 0.5rem 2rem;
  border-radius: 50px; /* forme arrondie, capsule */
  display: inline-block;
  font-weight: 600;
  border-left: 4px solid var(--bs-warning);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--orange);
}

a.active {
  color: var(--orange) !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}
