/* declaration des fonts */
@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Fontes & styles globaux */
  font-family: "Segoe UI Emoji", "Noto Color Emoji", system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Couleurs */
  /* oranges */
  --orange: #f5c542;
  --orange-fonce: #e0b540;
  --orange-clair: #fceec8;

  /* gold */
  --gold: #c3a74d;
  --gold-clear: #efd376;
  --gold2: #e8ce76a7;
  --gold3: #7e6a25;

  --white: #ffffff;
  --white2: #dddbdb;

  --grey: #6c757d;
  --grey-fonce: #6c757d;
  --grey-clear: #cac6c6;

  --dark: #181101b9; /* plus sombre que bg-dark bootstrap */
  --dark2: #181101b9; /* sombre que bg-dark bootstrap */
  --muted: #b8b8b8;

  /* vert olive */
  --vert-olive: #dfd917;
  --vert-olive-fonce: #8b8714;

  --navbar--banner-height: calc(30px + 52px); /* adapte selon ta navbar */
  --footer-height: 349.5px; /* adapte selon ton footer */

  input:focus,
  textarea:focus,
  select:focus {
    outline: none !important; /* Supprime le halo bleu */
    box-shadow: 0 0 0 0.1rem var(--gold) !important; /* Remplace par un halo doré */
    border: none;
  }
  input[disabled]:focus {
    outline: none;
    box-shadow: none;
  }
  /* Classe utilitaire pour les icônes dans les menus (DashboardSidebar.vue) */
  /* LTR (français) */
  [dir="ltr"] .icon {
    margin-right: 0.5rem;
  }

  /* =====================
   Header Responsive LTR / RTL
   ===================== */

  /* LOGO */
  [dir="ltr"] .navbar-brand {
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  [dir="rtl"] .navbar-brand {
    margin-right: 0 !important;
    margin-left: auto !important;
  }

  /* MENU PRINCIPAL */
  [dir="ltr"] .navbar-nav.me-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
  }

  [dir="rtl"] .navbar-nav.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  /* ACTIONS (compte, panier, wishlist) */
  [dir="ltr"] .navbar-nav.actions {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  [dir="rtl"] .navbar-nav.actions {
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Permet un layout header → contenu → footer */
}
h1,
h2:not(.swal2-title),
h3,
h4 {
  font-family: "NewspaperCutboy";
  color: var(--gold);
  width: auto;
  background-color: #fbf9da;
  padding: 0.2rem 2rem;
  border-radius: 50px; /* forme arrondie, capsule */
  display: inline-block;
  font-weight: 600;
  border-left: 4px solid var(--bs-warning);
  border-right: 4px solid var(--bs-warning);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--orange);
}

a.active {
  color: var(--orange) !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.app[lang="ar"] {
  /* font-family: "Cairo", sans-serif; */
  direction: rtl; /* pour texte de droite à gauche */
  text-align: right;
}
/* .app[lang="ar"] h1,
.app[lang="ar"] h2,
.app[lang="ar"] h3,
.app[lang="ar"] h4 {
  font-family: "Cairo", sans-serif !important;
} */

/* w- ------------------responsive qui ne l'est pas dans bootstrap */

/* SM ≥576px */
@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}

/* MD ≥768px */
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

/* LG ≥992px */
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
}

/* XL ≥1200px */
@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-100 {
    width: 100% !important;
  }
}

/* XXL ≥1400px */
@media (min-width: 1400px) {
  .w-xxl-25 {
    width: 25% !important;
  }
  .w-xxl-50 {
    width: 50% !important;
  }
  .w-xxl-75 {
    width: 75% !important;
  }
  .w-xxl-100 {
    width: 100% !important;
  }
}

/* -----------personnalisation des boutons outline bootstrap */
/* gold */
.my-btn-outline-gold {
  color: var(--gold); /* Couleur du texte */
  border-color: var(--gold); /* Couleur de la bordure */
}

.my-btn-outline-gold:hover {
  background-color: var(--gold-clear); /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
/* vert-olive */
.my-btn-outline-vert-olive {
  color: var(--vert-olive); /* Couleur du texte */
  border-color: var(--vert-olive); /* Couleur de la bordure */
}

.my-btn-outline-vert-olive:hover {
  background-color: var(--vert-olive); /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
/* grey */
.my-btn-outline-grey {
  color: var(--grey); /* Couleur du texte */
  border-color: var(--grey); /* Couleur de la bordure */
}

.my-btn-outline-grey:hover {
  background-color: var(--grey); /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
/* ------------------------personalisation de toast-------------- */
/* Style général du toast */
.my-toast {
  top:50px;
  background: linear-gradient(45deg, var(--gold), var(--gold3));
  color: #000;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--gold);
  padding: 0.5rem !important;
  margin-left: 0 !important; /* force le toast à coller à gauche */
  margin-right: 0 !important; /* force le toast à coller à droite si RTL */
  max-width: 400px !important;
  word-break: break-word !important;
}

/* Style du texte du toast */
.my-toast-body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  max-width: 400px !important;
  word-break: break-word !important;
}

.Vue-Toastification__container {
  max-width: 410px !important;
}

/* Icône personnalisée si activée */
.my-toast .Vue-Toastification__icon {
  color: black;
}

/*---------------------------fin toast-----------------*/

/*personnalisation de alert*/
.swal2-cancel,
.swal2-confirm {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background: var(--gold) !important;
  border: 2px solid var(--gold) !important;
  font-size: 16px;
  font-weight: 700;
  color: var(--orange-clair);
  box-shadow: 0 5px 0px 0px var(--gold3);
  transition: all 1s;
}
.swal2-cancel:hover,
.swal2-confirm:hover {
  background: var(--gold) !important;
  border: 2px solid var(--gold) !important;
  box-shadow: none !important;
  transform: translateY(5px) !important;
  transition: all 0.1s linear !important;
  color: white !important;
}
.swal2-cancel:focus,
.swal2-confirm:focus {
  outline: transparent !important;
}

.swal2-cancel:active,
.swal2-confirm:active {
  background: var(--dore-clear) !important;
}
body > div.swal2-container.swal2-center.swal2-backdrop-show > div {
  border: 4px solid var(--gold) !important;
  border-radius: 20px !important;
}
.swal2-title {
  color: var(--gold3) !important;
}
